flask
mysql-connector-python
psycopg2-binary
fpdf2
python-docx
pypdf
pywin32
requests
waitress
flask-socketio
python-engineio
python-socketio
pywebview
sqlalchemy
flask-sqlalchemy
flask-login
flask-cors
flask-migrate
python-dotenv
qrcode[pil]
pillow
pandas
openpyxl
reportlab
psutil
gunicorn
eventlet
